<style>
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  
}
.link {
  display: block;
  color: black;
  background-color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;  
}
.link:hover{
  display: block;
  background-color: #DCDCDC;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;  
}
</style>

    <div layout="column" layout-align="center center" class="sticky">
        <div style="margin-left: auto;"  >
            <md-button ng-click="dtl.logout();">Logout</md-button>
        </div>
        <div style="margin-top:-55px;">
            <a href="#/" style="text-decoration:none;">
                <img src="img/logo/logo-rojas-shoe-makers.png" 
                     alt="logo rojas shoe makers" 
                     title="rojas shoe makers stock"/>
            </a>
        </div>
        
        <div style="z-index:10; margin-top:-30px;"  ng-init='dtl.DatosSecciones();' >
            <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: white;">
                <li ng-repeat="item in dtl.datosSecciones | filter:{'sub':'local'} track by $index" style="float:left; color: black;">
                    <a ng-href="{{item.link}}" style="text-decoration: none;" class="link">
                        {{ item.nombre | uppercase }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
<!--<md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">

    <md-toolbar style="background-color:#00BDBA;">
        <div layout="row" layout-align="space-between center">
            <div>
                <span style="color:white; padding-left: 10px;">MENU</span>
            </div>
            <div>
                <md-button class="md-icon-button md-primary" ng-click="toggleLeft()" aria-label="Settings">
                    <md-icon md-svg-icon="img/icon/ic_close_white_24px.svg"></md-icon>
                </md-button>
            </div>    
        </div>    
    </md-toolbar>

    <md-content style="text-align: left; margin-left:-80px;">
            <ul style="text-align: left;">
                <!--<li><a href="#/personas">NOSOTROS</a></li>-->
                <!--<li><a href="#!/">CUMPLEA&Ntilde;OS</a></li>
                <li><a href="#!/fotos">fotos</a></li>
                <li><a href="#!/contacto">CONTACTO</a></li>
            </ul>
    </md-content>
</md-sidenav>-->