<div layout="column" ng-cloak class="md-inline-form">
    <md-content ng-init="dtl.DatosSecciones();">
        <md-list flex>
            <md-subheader class="md-no-sticky">EDITAR SECCIONES</md-subheader>

            <md-list-item class="md-1-line" ng-repeat="item in dtl.datosSecciones track by $index">
                    <a ng-href="{{item.link}}" style="text-decoration: none;">
                        <div class="md-list-item-text" layout="column">
                            <h4 style="color:black;">{{ item.nombre | uppercase }}</h4>
                        </div>
                    </a>
                <md-divider ></md-divider>    
            </md-list-item>
        </md-list>
    </md-content>    
</div>
