<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
   <headerLocal></headerLocal>
    <md-content layout="column" layout-padding ng-init="dtl.resumenLocal(dtl.localogin,'todo');">
        <section>
            
            <h1>RESUMEN DE VENTAS {{dtl.localogin}}</h1>
            <md-progress-linear md-mode="indeterminate" ng-show="haciendoCuentas"></md-progress-linear>
            <p ng-show="haciendoCuentas">Espere por favor... no soy tan bueno haciendo las cuentas... :)</p>
            
            <br/>
            <table style="width:100%;">
                <tr>
                    <th></th>
                    <th>Unidades</th>
                    <th>$</th>
                    <th>Ganancia</th>
                </tr>
                <tr>
                    <td> Hasta hoy (Pagos y vendidos)</td>
                    <td>{{dtl.zapatosRLL}}</td>
                    <td>${{dtl.sumar(dtl.zapatosRL,'precio_final')}}</td>
                    <td>${{dtl.sumar(dtl.zapatosRL,'comision')}}</td>
                </tr>
                <tr ng-init="dtl.selectBetween({'pago':'SI','local':dtl.localogin},'mes','id', 'ASC','9999');">
                    <td> Pagos {{esteMes}} </td>
                    <td>{{dtl.mesL}}</td>
                    <td>${{dtl.sumar(dtl.mes,'precio_final')}}</td>
                    <td>${{dtl.sumar(dtl.mes,'comision')}}</td>
                </tr>
                <tr ng-init="dtl.selectBetweenVendido({'pago':'Vendido','local':dtl.localogin},'mes','id', 'ASC','9999');">
                    <td> Pedientes de Pago {{esteMes}}</td>
                    <td>{{dtl.mesVL}}</td>
                    <td>${{dtl.sumar(dtl.mesV,'precio_final')}}</td>
                    <td>${{dtl.sumar(dtl.mesV,'comision')}}</td>
                </tr>
                <tr ng-init="dtl.selectBetween({'pago':'SI','local':dtl.localogin},'mesAnterior','id', 'ASC','9999');">
                    <td> Pagos {{esteMesAnterior}} </td>
                    <td>{{dtl.mesAnteriorL}}</td>
                    <td>${{dtl.sumar(dtl.mesAnterior,'precio_final')}}</td>
                    <td>${{dtl.sumar(dtl.mesAnterior,'comision')}}</td>
                </tr>
                <tr ng-init="dtl.selectBetweenVendido({'pago':'Vendido','local':dtl.localogin},'mesAnterior','id', 'ASC','9999');">
                    <td> Pedientes de Pago {{esteMesAnterior}}</td>
                    <td>{{dtl.mesAnteriorVL}}</td>
                    <td>${{dtl.sumar(dtl.mesAnteriorV,'precio_final')}}</td>
                    <td>${{dtl.sumar(dtl.mesAnteriorV,'comision')}}</td>
                </tr>
                <tr ng-init="dtl.resumenLocal(dtl.localogin,'mes');">
                    <td> TOTAL {{esteMes}}</td>
                    <td>{{dtl.mesRLL}}</td>
                    <td>${{dtl.sumar(dtl.mesRL,'precio_final')}}</td>
                    <td>${{dtl.sumar(dtl.mesRL,'comision')}}</td>
                </tr>
                <tr ng-init="dtl.resumenLocal(dtl.localogin,'anio');">
                    <td> En {{anio}} (Pagos y vendidos)</td>
                    <td>{{dtl.anioRLL}}</td>
                    <td>${{dtl.sumar(dtl.anioRL,'precio_final')}}</td>
                    <td>${{dtl.sumar(dtl.anioRL,'comision')}}</td>
                </tr>
            </table>
        </section>
  <!--      <section ng-init="dtl.Stock({'pago':'SI','local':dtl.localogin},'zapato','id', 'ASC', '9999');">
            <h1>MODELOS Y TALLES PAGO: "SI"</h1>
            <div style="width:100%; text-align: center;" >
                <div layout="row">
                    <div style="width:11%; border:1px black solid;">MODELO</div>
                    <div style="width:11%; border:1px black solid;">COLOR</div>
                    <div style="width:11%; border:1px black solid;">35</div>
                    <div style="width:11%; border:1px black solid;">36</div>
                    <div style="width:11%; border:1px black solid;">37</div>
                    <div style="width:11%; border:1px black solid;">38</div>
                    <div style="width:11%; border:1px black solid;">39</div>
                    <div style="width:11%; border:1px black solid;">40</div>
                    <div style="width:11%; border:1px black solid;">41</div>
                </div>
            </div>
        <md-divider ></md-divider>
            <div  ng-repeat="(key, value) in dtl.stock track by $index;" ng-class="{'red': ($index %2 === 1), 'black': ($index %2 === 0)}" style="width:100%;text-align: center;">
                <div ng-repeat="(key2, value2) in value  track by $index" layout="row" >
                    <div style="width:11%; border:1px black solid;">{{ key }}</div>
                    <div style="width:11%; border:1px black solid;">{{ key2 }}</div>
                    <div style="width:11%; border:1px black solid;" ng-repeat="i in [35,36,37,38,39,40,41]">
                        <div ng-repeat="(key3, value3) in value2" ng-if="key3==i">{{value3}}</div>
                    </div>


                </div>          
            </div>
        </section>-->
  </md-content>
