

<div style="background-color:#00BDBA; width: 100%; height: auto; ">
    <div  layout="row" layout-xs="column" layout-align="space-around center">
        <div>
            <img src="img/footer/variettemultiespacio-salon-de-eventos-logo-transparente.png"
                 title="variettemultiespacio-salon-de-eventos-logo-transparente"
                 alt="variettemultiespacio-salon-de-eventos-logo-transparente"
                 style="width: 100%; height: auto;"/>
            
        </div>
        <div style="color:white; text-align: center; margin-top:50px;">
            <p>
                Gral. Mart&iacute;n Rodriguez 1123, Victoria.<br/><br/>
                Mar&iacute;a Sol Faccini & Alina Riggiero<br/>
                Tel. 11 4074 1060 / 11 3476 1506<br/><br/>
                sol@variettemultiespacio.com.ar / alina@variettemultiespacio.com.ar<br/>
            
            </p>
            
        </div>
        <div>
            <a href="http://facebook.com/variettemultiespacio" style="text-decoration: none"><img src="img/footer/facebook.png"  title="facebook/desdetulugar" alt="facebook/desdetulugar" /></a>
            <a href="http://instagram.com/variettemultiespacio" style="text-decoration: none"><img src="img/footer/instagram.png"  title="instagram/desdetulugar" alt="instagram/desdetulugar" /></a>
           <!-- <a href="http://twitter.com/variettemultiespacio" style="text-decoration: none"><img src="img/footer/twitter.png"  title="twitter/desdetulugar" alt="twitter/desdetulugar" /></a>-->
        </div>
    </div>
    <div style="padding: 2%; color:white;">
      &circledR; 2018 Variette Multiespacio. All rights reserved. 
    </div>
</div>    